<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH-mm-ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="InfoFile" fileName="logs/InfoFile.log"
                     filePattern="logs/InfoFile-%d{yyyy-MM-dd HH-mm}.log" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH-mm-ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="ErrorFile" fileName="logs/ErrorFile.log"
                     filePattern="logs/ErrorFile-%d{yyyy-MM-dd HH-mm}.log" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH-mm-ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
       <!--<RollingFile name="DebugFile" fileName="logs/debuglogs/DebugFile.log"
                     filePattern="logs/debuglogs/DebugFile-%d{yyyy-MM-dd HH-mm-ss}.log" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH-mm-ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
        <RollingFile name="TraceFile" fileName="logs/tracelogs/TraceFile.log"
                     filePattern="logs/tracelogs/TraceFile-%d{yyyy-MM-dd HH-mm-ss}.log" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="500MB"/>
            </Policies>
        </RollingFile>-->
        <RollingFile name="ExceptionFile" fileName="logs/exception.log"
                     filePattern="logs/exception-%d{yyyy-MM-dd HH-mm-ss}.log" append="false">
            <PatternLayout pattern="%d %p %c{1.} [%t] %m%ex{short}%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
        </RollingFile>
        <Async name="AsyncFile">
            <AppenderRef ref="ExceptionFile"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <DefaultRolloverStrategy>
                <Delete basePath="logs" maxIndex="1" />
            </DefaultRolloverStrategy>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console" level="info"/>
            <AppenderRef ref="InfoFile" level="info"/>
            <AppenderRef ref="ErrorFile" level="error"/>
<!--            <AppenderRef ref="DebugFile" level="debug"/>-->
<!--            <AppenderRef ref="TraceFile" level="trace"/>-->
            <AppenderRef ref="AsyncFile" level="trace"/>
        </Root>
    </Loggers>
</Configuration>